<h1>Assignment #<%= @assignment.id %></h1>
<h4><em>from <%= @assignment.unit.title %></em></h4>
<br>

<p><strong>Description de l'exercice : </strong><%= @assignment.instructions %></p>

<h2>Questions :</h2>
<% @assignment.questions.each do |question| %>
  <p>
    <strong><%= link_to question.content, question_path(question) %></strong>
  </p>
<% end %>
