<div class="head-bg-large-rgb">
  <div class="home-head">
    <div class="container-image-top"><!-- container start -->
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1 text-center ">
          <h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1 home-head-h1">
            Learn WebMarketing
            <div id="changeText" >now</div>
              <script type="text/javascript">
              var text = ["online", "by doing", "with 1:1 mentor reviews"];
              var counter = 0;
              var elem = document.getElementById("changeText");
              setInterval(change, 3000);
              function change() {
               elem.innerHTML = text[counter];
                  counter++;
                  if(counter >= text.length) { counter = 0; }
              }
              </script>
          </h1>
          <br>
          <p class="white">
            Our online courses teach you the WebMarketing skills you need to increase your traffic and convert visitors in curstomers. Learn online, do assignments with one-on-one experts reviews and offices hours.
          </p>
          <br>
          <a href="/courses" class="white-link white-bordered" role="button">View our courses</a>
        </div>
      </div>
    </div><!-- container end -->
  </div>
</div>
