<div>


    <% @mentors.each do |mentor| %>
      <tr>
        <div class="mentor-block">
        <img src="http://d1ijjxzthis87e.cloudfront.net/static/main/images/homepage_v2/mentors/charlene.280d3d074b14.png">
        <td><%= mentor.first_name %></td>
        <td><%= mentor.last_name %></td>
        </div>
      </tr>
    <% end %>


</div>