<div class="container"><!-- container start -->
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 ">

        <h1>hello mentors !</h1>

        <h2>Meet our mentors :</h2>

        <%= render 'mentors/mentors_piles' %>

        <h2>Become a mentor at WebMarketingCamp :</h2>

        <p>An awesome opportunity to teach WebMarketing trough e-Learning with 1:1 mentoring.</p>
        <ul>
          <li>earn money</li>
          <li>develop your network</li>
          <li>get new business opportunities</li>
        </ul>

        <button><%= link_to 'Apply now', new_mentor_path %></button>

    </div><!-- col end -->
  </div><!-- row end -->
</div><!-- container end -->

