<h1>hello mentors !</h1>

<h2>Meet our mentors :</h2>

<%= render 'mentors/mentors_piles' %>

<h2>Become a mentor at WebMarketingCamp :</h2>

<p>An awesome opportunity to teach WebMarketing trough e-Learning with 1:1 mentoring.</p>
<ul>
  <li>earn money</li>
  <li>develop your network</li>
  <li>get new business opportunities</li>
</ul>

<button><%= link_to 'Apply now', mentors_sign_up_path %></button>

