<div class="container"><!-- container start -->
  <div class="row">
    <div class="col-xs-12 col-xs-offset-0 ">

        <h1>Mentor review:</h1>

        <p><em><%= @mentor_review.content %></em></p>

    </div><!-- col end -->
  </div><!-- row end -->
</div><!-- container end -->