<!-- head course -->
<div class="head-bg-small-rgb center-small-middle add-margin-down">
  <div class="container"><!-- container start -->
    <div class="col-xs-12 col-xs-offset-0">
      <h1 id="tagline" class="head-h1 head-left">
        Courses listing
      </h1>
    </div>
</div>
</div>
<!-- end head course -->

<%= render 'courses/courses_list' %>
