<h1><%= @course.title %></h1>

<h2>Course details</h2>

<p><strong>Description : </strong><%= @course.description %></p>

</br>

<div>

  <% if @course.users.exclude?(current_user) %>
     <%= render 'courses/public_course_page' %>
    <% else %>
     <%= render 'courses/enrolled_course_page' %>
  <%end%>

</div>