

.head-bg-large-rgb{
  background-color: #EF6A54;
  height: 500px;
  width: 100%;
}

.head-bg-medium-rgb{
  background-color: #EF6A54;
  height: 300px;
  width: 100%;
}

.head-bg-small-rgb{
  background-color: #EF6A54;
  height: 150px;
  width: 100%;
}

.head-h1{
  font-size: 3.25em;
  text-transform: uppercase;
  color: #fff;
}

.head-h1{
  font-size: 2.25em;
  text-transform: uppercase;
  color: #fff;
}

.head-left{
  text-align: left;
}