<h1>Student answer:</h1>

<p><em><%= @student_answer.content %></em></p>

<% if current_user.status == "student" %>
    <%= render 'student_answers/student_show_review' %>
  <% elsif current_user.status == "mentor" %>
    <%= render 'student_answers/mentor_show_student_answer' %>
  <% elsif current_user.status == "admin" %>
    <%= render 'student_answers/mentor_show_student_answer' %>
<% end %>